<!DOCTYPE html>
<html>
    <head>
        <title>超慢動作影片牆</title>
        
<style type="text/css">

  body{
          background-color: black;
            font-family: 微軟正黑體,Microsoft JhengHei;
           color: white;
        }
        
        
        .header{
    height:35%;
   width:auto;
   z-index:1;
  overflow: hidden;
  position:fixed;   
  top: 0; 
 left: 0;
	right: 0;
  background-color: black;
      }
        
.title{
     background-color: black;
    z-index:1;
   position:fixed;   
   top: 35%; 
 left: 0;
	right: 0;
   
}
h1{
       text-align: center;
      font-size:3em;
      margin:20px;

}

@media only screen and (max-width : 533px) {
   /* Smartphone view: 1 tile */

   
 #logo{
			max-width: 60%;
			height: auto;
 position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
   
	}
}

@media only screen and (max-width : 2000px) and (min-width : 534px) {
   /* Tablet view: 2 tiles */

   
#logo{
		
			height: 100%;
			width:auto;
 position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
   
	}

}


#blank{
  height : 650px;
	}
      
      .footer{
  height:100px;
  width:100%;
  z-index:1;
  overflow: hidden;
  background-color: black;
  position:fixed;   
  bottom: 0; 
  left: 0; 

      }
      
       


.waterfall{
    width: 90%;
    margin: auto;
   
}

  .container {
    position: relative;
    width: 100%;
    overflow: hidden;
    float: left;
    margin: 10px 0px;
    }

	
	

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;

    
}

.middle {


  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.qr {


  background-color:  white;

  font-size: 16px;
  padding: 16px 16px;
}
.qr img{
  
}
.description{
    color:white;
    padding-top:15px;
}


</style>

<script type="text/javascript" src="qrcode.js"></script>

  
    </head>
    
     <body>


  <div class = "header">
        
        
            <img id ="logo" src ="logo.jpg"></img>
     
        
       <div class = "title">
         <h1>請點擊圖片掃描QRCODE</h1>
        </div>
        
    </div>

  <div id="blank"></div>
    <div class="waterfall">
    
    
    
  <% for (var i = 0; i <  obj.length; i++) {%>
  
  
  <div class="container">
<img src="<%="videos/"+obj[i].tb%>" alt="Avatar" class="image" style="width:100%">
              
              
  <div class="middle">
 
   <div class="qr">
  
    
    
   <script type="text/javascript">
   /* https://samsung2018.api-tronk.tw/login.php?video=*/
   /*   text: "<%="https:\//webdev01-csh7183.c9users.io/page/"+obj[i].fn.split(".")[0]%>",*/
   /*text: "<%="http:\//35.201.223.147/page/"+obj[i].fn.split(".")[0]%>",*/
 var element = '<div>top div</div>'
           var qrcode = new QRCode(document.querySelectorAll(".qr")[<%=i%>], {
                text: "<%="https:\//samsung2018.api-tronk.tw/login.php?video="+obj[i].fn.split(".")[0]%>",
                width: 280,
                height: 280,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.L
                    });    

   </script>
      
     </div>
      <h4 class="description">請掃描 QRCODE 取得影片</h4>
  </div>
  </div>

  
  
<% }%>
 
    
    
   
     </div>
     <div class="footer"></div>
   

 </body>
    
</html>